body {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
	background-color: #363f79;
	color: black;
}

#survey-form {
	margin: 20% 70% ;
	width: 300px;
	height: 700px;
	padding: 20px;
	border: 1px solid white;
	background: #C0C0C0;
	border-radius: 5px;
	box-sizing: border-box;

} 

header {
	align-self: center;
}

#title {
	margin: 0px 50px;
	color: white;
}

#description {
	margin: 0px 50px;
	color: #C0C0C0;
}

.info {
	display: flex;
	flex-direction: column;
}

#name {
	width: 70%;
}

#Email {
	width: 70%;
}

#Edad {
	width: 70%;
}

input {
	border-radius: 5px;
	border: 1px solid #708090;
}

input:focus {
	background-color: lightblue;
}

#seletion {
	display: flex;
	flex-direction: column;
}

#dropdown {
	border-radius: 5px
}

#coment {
	height: 50px;
	width: 250px;
	transition: width 0.4s ease-in-out;
}

#coment:focus {
	width: 100%;
	height: 150px;
}

@media only screen and (max-width: 800px){ 
	body {  
		display: block; 
	}
}

@media only screen and (max-width: 800px){ 
	#survey-form {  
		margin: 20%;
		padding: 30px; 
		}
}